<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">การแจ้งเตือนโครงการ</h4>
                        <p class="card-category">การแจ้งเตือนสถานะของโครงการทั้งหมด</p>
                    </div>
                    <div class="card-body table-responsive">
                        <!-- <table class="table table-hover">
                            <thead class="thead-dark text-center">
                                <th></th>
                                <th>วันที่</th>
                                <th>รายละเอียด</th>
                                <th>หมายเหตุ</th>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let notic of notification">
                                    <td *ngIf="notic.status == 'สำเร็จ'">
                                        <span class="dot success"></span>
                                    </td>
                                    <td *ngIf="notic.status == 'กำลังดำเนินการ'">
                                        <span class="dot pending"></span>
                                    </td>
                                    <td *ngIf="notic.status == 'ไม่สำเร็จ'">
                                        <span class="dot reject"></span>
                                    </td>
                                    <td>{{ notic.dateTime }}</td>
                                    <td class="text-left">{{ notic.detail }}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table> -->

                        <div class="card" *ngFor="let notic of notification; let i = index">
                            <div class="card-body">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeNitification(i)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="card-title" *ngIf="notic.status == 'สำเร็จ'"><span class="dot success"></span> {{ notic.dateTime }}</h5>
                                <h5 class="card-title" *ngIf="notic.status == 'กำลังดำเนินการ'"><span class="dot pending"></span> {{ notic.dateTime }}</h5>
                                <h5 class="card-title" *ngIf="notic.status == 'ไม่สำเร็จ'"><span class="dot reject"></span> {{ notic.dateTime }}</h5>

                                <hr>
                                <p class="card-text">{{ notic.detail }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>