<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h3><span class="badge badge-secondary">เอกสารโครงการทั้งหมด</span></h3>
                <hr />
                <div class="row">
                    <mat-card class="example-card" *ngFor="let cardDetail of equipments">
                        <mat-card-header>
                            <mat-card-title> {{ cardDetail.majorList }}</mat-card-title>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                        <mat-card-content>
                            <hr />
                            <!-- <p>เหตุผล :</p>
                            <div class="overflow" [innerHTML]="cardDetail.reason"></div>

                            <p>วัตถุประวงค์ : </p>
                            <div class="overflow" [innerHTML]="cardDetail.objective"></div> -->
                            <p><b>วันที่ : </b> {{ cardDetail.dateProject | date:'dd MMMM yyyy':'UTC' }}</p>
                        </mat-card-content>
                        <hr />
                        <mat-card-actions>
                            <button mat-raised-button [routerLink]="['/readDetailForm', cardDetail._id]">
                                <mat-icon>chrome_reader_mode</mat-icon> อ่านรายละเอียด
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>