<mat-dialog-content class="mat-typography" *ngFor="let item of value">
    <h2 mat-dialog-title>{{ item.majorList }}</h2>
    <hr>
    <h3>รายละเอียดรายการ : {{ item.majorList }}</h3>
    <p>
        <a class="success"> </a>
        สถานะโครงการ : {{ item.status }}
    </p>


    <hr>
    <!-- <div *ngFor="let item of value"> -->
    <h3>ที่มาและเหตุผล</h3>
    {{ item.reason }}
    <p>สืบเนื่องจากโรงเรียนได้จัดท าโครงการดูแลช่วยเหลือนักเรียนโดยการเยี่ยมบ้านนักเรียนในทุกๆ ปีการศึกษา พบว่ามีนักเรียนหลายคนที่ไม่ได้อยู่กับบิดามารดาโดยมีญาติ ปู่ ย่า ตา ยาย คอยดูแลนักเรียน และในจ านวนนั้นมีฐานะยากจน บางคนอยู่กับบิดามารดาแต่ก็หาเช้ากินค่
        า รับจ้างไปวันๆ แต่ด้วยความรักและ เอาใจใส่ของญาติ ปู่ ย่า ตา ยาย อยากให้เด็กได้เรียนในสถานศึกษาที่ดี มีคุณภาพ แม้จะขัดสนก็ตาม จนบาง เทอมไม่มีเงินจ่ายค่าเล่าเรียน บางรายไม่มีจ่ายเลยหลายเทอมแต่ทางโรงเรียนก็ไม่ได้ทวงถามเมื่อทราบว่าฐานะ ทางครอบครัวไม่ค่อยดีนัก
    </p>
    <hr>
    <h3>วัตถุประสงค์</h3>
    {{ item.objective }}
    <p>สืบเนื่องจากโรงเรียนได้จัดท าโครงการดูแลช่วยเหลือนักเรียนโดยการเยี่ยมบ้านนักเรียนในทุกๆ ปีการศึกษา พบว่ามีนักเรียนหลายคนที่ไม่ได้อยู่กับบิดามารดาโดยมีญาติ ปู่ ย่า ตา ยาย คอยดูแลนักเรียน และในจ านวนนั้นมีฐานะยากจน บางคนอยู่กับบิดามารดาแต่ก็หาเช้ากินค่
        า รับจ้างไปวันๆ แต่ด้วยความรักและ เอาใจใส่ของญาติ ปู่ ย่า ตา ยาย อยากให้เด็กได้เรียนในสถานศึกษาที่ดี มีคุณภาพ แม้จะขัดสนก็ตาม จนบาง เทอมไม่มีเงินจ่ายค่าเล่าเรียน บางรายไม่มีจ่ายเลยหลายเทอมแต่ทางโรงเรียนก็ไม่ได้ทวงถามเมื่อทราบว่าฐานะ ทางครอบครัวไม่ค่อยดีนัก
    </p>
    <hr>
    <table class="table table-hover">
        <thead class="thead-dark text-center">
            <th>รายการครุภัณฑ์ย่อย</th>
            <th>ราคาต่อหน่วย</th>
            <th>จำนวนหน่วย</th>
            <th>งบประมาณ</th>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let itemDetail of detail">
                <td class="table-active">{{ itemDetail.equipmentName }}</td>
                <td class="table-active">{{ itemDetail.budgetPerPrice }}</td>
                <td class="table-active">{{ itemDetail.unit }}</td>
                <td class="table-active">{{ itemDetail.budget }}</td>
            </tr>
        </tbody>
    </table>
    <!-- </div> -->
    <h3>สร้างและส่งออกไฟล์เอกสาร ของรายละเอียดรายการย่อย</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" mat-dialog-close><mat-icon>close</mat-icon> ปิด</button>
    <button mat-raised-button mat-dialog-close (click)="exportPDF()"><span class="material-icons">import_export</span> ส่งออกหเอกสาร </button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>